@tailwind base;

@tailwind components;

@tailwind utilities;

@media (pointer: coarse) {
	.ari-touchable {
		min-height: 40px;
	}
}

@media (pointer: fine) {
	.ari-touchable {
		min-height: 24px;
	}
}

.ari textarea:focus,
.ari input:focus {
	outline: none;
}

.ari textarea,
.ari input,
.ari select {
	display: block;
	width: 100%;
}

.ari input[type="checkbox"]
.ari input[type="radio"] {
	display: block;
	width: auto;
}

.ari textarea {
	min-height: 4.8em;
	height: 6em;
	resize: vertical;
}

.ari-center-y {
	top: 50%;
	transform: translateY(-50%);
}

.ari-center-x {
	left: 50%;
	transform: translateX(-50%);
}

.ari-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ari-type-repeater-remove {
	@apply ari-opacity-0;
	top: 50%;
	left: 0;
	transform: translate(-75%, -50%);
}

.ari-type-repeater-sub:hover .ari-type-repeater-remove {
	@apply ari-opacity-100;
}

.ari-toggle-knob {
	transform: scale(70%);
	transform-origin: center;
}

.ari-clear-sub-input > * {
	@apply ari-p-0;
}

.ari-clear-sub-input .ari-touchable {
	@apply ari-px-2 ari-py-1;
}
